
<!-- <app-servers></app-servers> -->
<div class="container">
    <div class="row">
        <h3>I'm in app component </h3>
        <hr/>
    </div>
    <div class="row">
        <app-first></app-first> 
    </div>
    

</div>
<!-- <app-first></app-first> -->
<!-- we can also write selector another format : check selector in first.component.ts file -->
<!-- <app-first></app-first> this is first type -->

<!---second type we can write selector:- converting tag into attribute--->
<!-- <div app-first>   
</div> -->

<!---third type we can write selector:- converting tag into class---->
<!-- <div class='app-first'>
    
</div> -->


<!-- <hr/>
{{title}} -->